.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.addLink-btn{
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    border: none;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    width: 30%;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.save-btn:hover {
    background-color: #16961b;
    color: white;
    padding: 5px;
    width: 30%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.delete-btn {
    margin-top: 17px;
    margin-right: 12px;
    width: 20px;
}
.delete-btn:hover{
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
}

.list-container{
    display: flex;
    flex-direction: row;
}

input {
    /* material ui input field css*/
    padding: 12px 15px;
    width: 100%;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

}